<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1-1" stopProcessing="true">
                    <match url=".?" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTPS}" pattern="(on)?" ignoreCase="false" />
                        <add input="{HTTP_HOST}" pattern="^(?!www\.)(.+)$" />
                        <add input="{URL}" pattern="(.+)" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http(?{C:1}s)://www.{C:2}{C:3}" appendQueryString="false" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
